
// Media Query Mixins
@mixin mediaSm {
    @media (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  }
  
  @mixin mediaMd {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  }
  
  @mixin mediaLg {
    @media (min-width: 1024px) and (max-width: 1280px) {
      @content;
    }
  }
  
  @mixin mediaXl {
    @media screen and (min-width: 1171px) {
      @content;
    }
  }