$primary-color: #f4f4f4;
$secondary-color: #404040;
$third-color: #4ebbdd;
$fourth-color: #00D4F8;

$shadow-color: 4px 4px 17.5px rgba(0, 0, 0, 0.2);
$linear-gradient: linear-gradient(90deg, rgba(0,212,255,0) 0%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
$translate-1: translateY(8px) rotate(45deg);
$translate-2: translateY(-8px) rotate(-45deg);
$translate-3: translateY(0px) rotate(45deg);